{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Spiderman</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae explicabo facere eligendi a sed cupiditate cumque dolore eveniet exercitationem, dolorem, ipsam sunt tempore enim iusto. Molestiae dignissimos quaerat labore at?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/spiderman.png" class="img-thumbnail">
        
    </div>

</div>

{{> footer}}